<section>
<header>
  <h4><span class ='c'>Master21's link collection</span></h4>
  <input type = 'search' placeholder="ðŸ” Search" autofocus class="filter">
</header>

<% @links.each do |link| %>
<ul class="filter">
  <li>
      <span class='title'><a name="content" href="<%= link.url %>"><%= link.title %></a></span><br>
      <span class='user_id'>by @<%= link.user_id %></br></span>
      <span class='channel_id'><%= link.channel_id %></span>
      <span class='timestamp'><%= link.created_at.strftime('%F %T') %></span>
  </li>
</ul>
<% end %>
</section>
